.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 200px;
}
.logo_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_text p{
    font-size: 72px;
}
